
<!DOCTYPE  html>
<!--Created by Manan Patel - Created on:Oct,2020 -->
<html lang="en">
<head>
<title>About me</title>
<meta charset="utf-8">
<meta content="about mee" name="keywords">
<meta content="about me, comp 229" name="description">
</head>
<body style="font-family:Arial; background-color:papayawhip; color:yellow; background-image: url('Assets/images/nostalgic_blue_background_06_hd_pictures_169782.jpg');">
<!-- CSS USED -->
<style>
  
body {background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  img {
    border-radius: 50%;
}
a:active {
	color: #FFFF99;
}
a {
	color: #FFFF00;
}
</style>
<div style="width:980px; margin-left:auto; margin-right:auto;">
<img src="assets/images/logo.gif" alt="SETAS logo">
<hr style="border-style:solid; border-color:black; border-width:2px;">
<h3>COMP229- Web Application Development.</h3>
<h4>Student name: Manan Patel <br><br>Student number: #301107555</h4>
<hr style="border-style:solid; border-color:black; border-width:2px;">
<p>I'm student in the <b>Software Engineering</b> program in centennial college
<br>Previously I studied at J H Ambani in Surat, Gujarat, India. </p>
&nbsp;<img alt="MAnan" height="448" src="assets/images/Capture.JPG" style="float: right" width="245">
<p>Computers have always been my area of interest.</p>
<p>I am eager to learn about computers and always ready to learn new concepts.I am very much interested in coding</p>
<p>One of my favorite quote is:</p>
<blockquote><i>
&quot;Be yourself; everyone else is already taken.&quot;</i>
<br>~~~Oscar Wilde~~~
</blockquote>
<p>Some of my favorite activities are:</p>
<ul style="list-style-image:url(assets/images/animated-bullet-10.gif);">
<li>Playing Soccer</li>
<li>Watching Movies</li>
<li>Reading Sci-fi Books</li>
<li>Playing Video Games</li>
<li>Travelling</li>
<li>Playing Cricket</li>
</ul>
	<p>Resume:<a href="assets/images/Manan%20cv-converted.pdf"> Please click here</a></p>
<hr style="border-style:solid; border-color:black; border-width:1px;">
<h6><sup>&copy;</sup>&nbsp;&nbsp;Copyright Manan Patel- COMP-229</h6>
<hr style="border-style:solid; border-color:black; border-width:1px;">
</div>
</body>
</html>