<!DOCTYPE html>
<html>
<!-- JUST SIMPLE HOME PAGE WITH CSS ATTACHED -->
<head>
  <title>Our Company</title>
  <!-- CSS -->
  <link href="content/try.css" rel="stylesheet">
  <style type="text/css">
.auto-style1 {
	text-align: center;
}
</style>
</head>


<div id="main" class="auto-style1">
  <h1>Welcome to the Home Page</h1> 
  <h2>This page belongs to Manan Patel. Student ID :- 301107555</h2>
	<p>The main goal of my carrer is to work as a software developer in 
	Multinational Companies.</p>
	<p>This is&nbsp; a Express Portfolio.</p>
	<p>&nbsp;</p>

  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

</body>
</html> 
