<!DOCTYPE  html>
<!--Created by Manan Patel - Created on:Jan17,2020 -->
<html lang="en">
<head>

<title>projects</title>

<meta charset="utf-8">
<meta content="projects" name="keywords">
<meta content="projecst" name="description">
</head>
<body style="font-family:Arial; background-color:papayawhip; color:yellow; background-image: url('assets/images/nostalgic_blue_background_06_hd_pictures_169782.jpg');">
<!-- CSS APPLIED-->
<style>
	
body {background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  img {
    border-radius: 50%;
}
a:active {
	color: #FFFF99;
}
a {
	color: #FFFF00;
}
.auto-style1 {
	text-align: center;
}
.auto-style2 {
	border-width: 0px;
}
</style>
<div style="width:980px; margin-left:auto; margin-right:auto;" class="auto-style1">
&nbsp;<hr style="border-style:solid; border-color:black; border-width:2px;">
<hr style="border-style:solid; border-color:black; border-width:1px;">
<h1>CLICK THEM FOR SURPRISES</h1>
	<a href="http://studentweb.cencol.ca/mpate723/Sem2%20Project/Assignment.html">
<img src="assets/images/51olnFu+cyL._SS210_.jpg" alt="BMR calculator" class="auto-style2"></a>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
	<a href="http://studentweb.cencol.ca/mpate723/assignment%201/calendar.htm">   
	<img src="assets/images/download.png" alt="Calender" class="auto-style2"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="http://studentweb.cencol.ca/mpate723/Sem2%20Project5/Bug-Smasher-Game-master/assignment_5.html"><img src="assets/images/512x512bb.jpg" alt="Bug Smasher" class="auto-style2"></a>
<h6><sup>&copy;</sup>&nbsp;&nbsp;Copyright Manan Patel- COMP-Winter 2020</h6>
<hr style="border-style:solid; border-color:black; border-width:1px;">
</div>
</body>
</html>