<!DOCTYPE html>
<html>
<!-- SERVICES PAGE -->
<head>
  <title>Sevices</title>
  <link href="content/try.css" rel="stylesheet">
  <style type="text/css">
.auto-style1 {
	text-align: center;
}
</style>
</head>

<body>
<div id="main" class="auto-style1">
  <h1>HERE'S  WHAT I CAN DO FOR YOU</h1> 
 	<ul>
 	<li>Design Web Pages</li>
 	<li>Create a small online game</li>
 	<li>Can create survet forms fro your amazing websites!</li>
 	</ul>
</div>

</body>
</html> 